.xlab-layout-wrapper
  / End header.php
  / Begin page.php
  / Begin sidebar-pagetop.php
  .xlab-content-layout
    .xlab-content-layout-row
      .xlab-layout-cell
  / End sidebar-pagetop.php
  .xlab-content-layout
    .xlab-content-layout-row
      .xlab-layout-cell.xlab-content
        / Begin sidebar-contenttop.php
        / End sidebar-top.php
        / Begin content-page.php
        %article#post-75.post-75.page.type-page.status-publish.hentry.xlab-post.xlab-article.jsn-master
          %h1.xlab-postheader.entry-title
            %span.xlab-postheadericon
              Wash Services
          .xlab-postcontent.xlab-postcontent-75.entry-content.clearfix
            %p
            .jsn-bootstrap3
              .row
                .col-md-12.col-sm-18
                  .jsn-bootstrap3.ig-element-container.ig-element-text{:style => "margin-top:10px; margin-bottom:10px; width:45vw; display: block; margin-left: auto; margin-right: auto; text-align:center; "}
                    .ig_text
                      %h3 Urbanizing Toronto's double bucket hand wash scene. Yo
            .jsn-bootstrap3
              .row
                .col-md-12.col-sm-18
                  .jsn-bootstrap3.ig-element-container.ig-element-text{:style => "margin-top:10px; margin-bottom:10px "}
                    .ig_text
                      %p
                        %img.aligncenter.size-full.wp-image-350.xlab-lightbox{:alt => "plantinumDec-ver-2", :height => "319", :src => "http://thechamois.ca/~chamwash/wp-content/uploads/2014/06/plantinumDec-ver-2.png", :style => "width:45vw; display: block; margin-left: auto; margin-right: auto;", :width => "642"}/
                        %img.aligncenter.size-full.wp-image-376.xlab-lightbox{:alt => "goldDec-", :height => "319", :src => "http://thechamois.ca/wp-content/uploads/2014/06/goldDec-.png", :style => "width:45vw; display: block; margin-left: auto; margin-right: auto;", :width => "642"}/
                        %img.aligncenter.size-full.wp-image-353.xlab-lightbox{:alt => "silverDec", :height => "319", :src => "http://thechamois.ca/~chamwash/wp-content/uploads/2014/06/silverDec.png", :style => "width:45vw; display: block; margin-left: auto; margin-right: auto;", :width => "642"}/
                        %img.aligncenter.size-full.wp-image-370.xlab-lightbox{:alt => "bronzeDec-", :height => "264", :src => "http://thechamois.ca/wp-content/uploads/2014/06/bronzeDec-.png", :style => "width:45vw; display: block; margin-left: auto; margin-right: auto;", :width => "642"}/
                      %p{:style => "text-align: center;"}
                        %em
                          %strong Add a carpet mat shampoo to ANY wash for only $5 per row.
                      %h6{:style => "text-align: center;"} SORRY – But we cannot be held responsible for after market accessories (including window tinting and bug deflectors), loose or worn parts, loose paint & antennas that are not retracted. Previously damaged and defective parts will not be repaired.
                      %h6{:style => "text-align: center;"} * Same vehicle, Extra dirty charges may apply. No dealers
                      %p{:style => "text-align: center;"}
                        %strong All prices are plus taxes, Extra dirty charge may apply.
                      %p
            %p
          / Begin nav-postpager.php
          / End nav-postpager.php
        / End content-page.php
        / Begin sidebar-contentbottom.php
        / End sidebar-bottom.php
      / Begin sidebar.php
      .xlab-layout-cell.xlab-sidebar1
        #black-studio-tinymce-14.xlab-block.widget.widget_black_studio_tinymce.clearfix
          
      / End sidebar.php
  / End page.php
  / Begin footer.php