- title("Home Page")

%img
  =image_tag("shprittz.png")
-#%video{:controls => "", :height => "100%", :loop => "", :preload => "undefined", :style => "display: block;", :width => "100%"}
-#  %source{:src => "http://thechamois.ca/wp-content/uploads/2014/11/chamoisclip.mp4", :type => "video/mp4"}
-#
-#%br

%h2{:style=>'text-align: center'}
  Coming to a location near you!
