- title("Home Page")
%h1
  %i.fa.fa-home
  Home Page


= image_tag("shprittz.png")

%h2{:style=>'text-align: center'}
  Coming to a location near you!

%br

%video{:controls => "", :height => "auto", :width => "auto"}
  %source{:src => "http://thechamois.ca/wp-content/uploads/2014/11/chamoisclip.mp4", :type => "video/mp4"}


