- title("Home Page")

-# %img{:style => "width:10vw; display: block; margin-left: auto; margin-right: auto"}
-#   =image_tag("shprittz.png")
= link_to image_tag("shprittz.png", :style => "width:45vw; display: block; margin-left: auto; margin-right: auto"), auto_washes_path, :class => "home-nurbrun"
%h2{:style=>'text-align: center'}
  Coming to a location near you!
%br

%video{:controls => "", :height => "100%", :loop => "", :preload => "undefined", :style => "display: block; width:45vw;margin-left: auto; margin-right: auto", :width => "100%"}
  %source{:src => "http://thechamois.ca/wp-content/uploads/2014/11/chamoisclip.mp4", :type => "video/mp4"}

