#footer
  .container
    .row.footer-first-row
      .col-xs-12.text-center
        %p
          %small
            \&copy; #{Time.now.year} - Yourself!
            %br/
            Assembled with #{link_to "RailsBricks", "http://www.railsbricks.net"}
